@import url(http://fonts.googleapis.com/css?family=Rokkitt|Roboto);
/** main.less
 *
 * Home for styles that should appear across all pages.
 */
body {
  font-family: "Roboto", sans-serif;
}
core-toolbar {
  background-color: #795548;
  color: #eeeeee;
}
